@import "./base.scss";

@font-face {
    font-family: Raleway;
    src: url("../resourses/fonts/raleway/Raleway/static/Raleway-ExtraBold.ttf");
}
.slider{
    width: 100%;
    padding-top: 40px;
    &__body{
        position: relative;
        width: 100%;
    }
    &__header{
        position: relative;
        height: 160px;
        width: 100%;
        background-color: $yellow;
    }
   
    &__slide-number{
        position: absolute;
        font-family: RubikExtraBold;
        height: 135px;
        width: 250px;
        right: 60px;
        color: $white;
        font-size: 180px;
        text-align: right;
    }
}
.content{
    display: flex;
    position: relative;
    @include for-tablet-portrait{
       flex-direction: column;
       padding-bottom: 50px;
    }
    @include for-portrait-phones{
       flex-direction: column;
       padding-bottom: 50px;
    }
    @include for-landscape-phones{
        flex-direction: column;
        padding-bottom: 50px;
    }
    @include for-small-phones{
       flex-direction: column;
       padding-bottom: 50px;
    }
    @include for-iphone5{
        flex-direction: column;
        padding-bottom: 50px;
     }
    button{
        height: 60px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: 35%;
        object{
            width: 20px;
            height: 100%;
        }
        @include for-tablet-portrait{
            top: 10%;
        }
        @include for-portrait-phones{
            top: 10%;
        }
        @include for-landscape-phones{
            top: 10%;
        }
        @include for-small-phones{
            top: 10%;
        }
        @include for-iphone5{
            top: 10%;
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        margin-right: $gap;
        @include for-tablet-portrait{
            align-items: center;
        }
        @include for-portrait-phones{
            align-items: center;
        }
        @include for-landscape-phones{
            align-items: center;
        }
        @include for-small-phones{
            align-items: center;
        }
        @include for-iphone5{
            align-items: center;
        }
    }
    &__img-wrapper{
        width: 560px;
        height: 560px;
        display: flex;
        position: relative;
        flex-direction: column;
        top: -148px;
        justify-content: center;
        align-items: center;
        img{
            height: 100%;
            width: 100%;
            object-fit:cover;
        }
        @include for-portrait-phones{
            width: 400px;
            height: 400px;
            top: -80px;
        }
        @include for-small-phones{
            width: 400px;
            height: 400px;
            top: -85px;
        }
        @include for-iphone5{
            width: 300px;
            height: 300px;
            top: -65px;
        }
    }
    &__next-slide-button{
        transform: scale(-1);
        right: 19px;
    }
    &__prev-slide-button{
        left: 19px;
    }
    &__pagination{
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__dot{
        width: 12px;
        height: 12px;
        border: 2px solid $black;
        border-radius: 50%;
        cursor: pointer;
        &_active{
            background: $black;
        }
    }
    &__info{
         display: flex;
         flex: 1 1 auto;
         flex-direction: column;
         align-items: flex-start;
         position: relative;
         top: -29px;
         max-width: 560px;
         width: 100%;
     }
     &__header{
         margin-bottom: 43px;
     }
     &__learn-more{
         align-items: center;
         max-width: 560px;
         width: 100%;
         margin-top: 60px;
         margin-bottom: 70px;
     }
    &__link-wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 220px;
    }
    &__link{
        text-decoration: none;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 37px;
        &::before{
            position: absolute;
            content: '';
            height: 8px;
            width: 220px;
            background-color: $yellow;
            top: 20px / 2;
            z-index: -1;
        }
    }
    &__table{
         left: 0;
         max-width: 3 * $grid + 2 * $gap;
         width: 100%;
         border-collapse: separate;
         border-spacing: 20px;
         position: relative;
         left: -20px;
    }
    &__item-value{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 30px;
        color: $black;
    };
    &__value-description{
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $dark;
    }
}
